/*Mixin----------Mixin----------Mixin*/

@mixin elementForGame($grid-area, $color-border, $color-shadow-border) {
  width: 100px;
  height: 100px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: var(--White);
  background-clip: padding-box;
  border: solid 10px transparent;
  border-radius: 50%;
  box-sizing: border-box;
  grid-area: $grid-area;
  justify-self: center;
  align-self: center;
  cursor: pointer;
  @include media(cellphone) {
    width: 120px;
    height: 120px;
  }
  @include media(tablet) {
    width: 140px;
    height: 140px;
  }
  @include media(tablet-small) {
    width: 140px;
    height: 140px;
  }
  @include media(laptop) {
    width: 180px;
    height: 180px;
  }
  &:active {
    transform: scale(.9);
  }
  .game__box-shadow {
    width: 100%;
    height: 91%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--White);
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: 0px -4px 0px hsl(0, 0%, 81%);
    @include media(cellphone) {
      height: 75%;
      box-shadow: 0px -7px 0px hsl(0, 0%, 81%);
    }
    @include media(tablet-small) {
      height: 76%;
      box-shadow: 0px -9px 0px hsl(0, 0%, 81%);
    }
    @include media(tablet) {
      height: 76%;
      box-shadow: 0px -9px 0px hsl(0, 0%, 81%);
    }
    @include media(laptop) {
      height: 76%;
      box-shadow: 0px -10px 0px hsl(0, 0%, 81%);
    }
  }
  img {
    width: 40px;
    height: 40px;
    @include media(cellphone) {
      width: 60px;
      height: 60px;
    }
    @include media(tablet-small) {
      width: 60px;
      height: 60px;
    }
    @include media(tablet) {
      width: 60px;
      height: 60px;
    }
    @include media(laptop) {
      width: 80px;
      height: 80px;
    }
  }
  &::before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 1px; left: 0;
    z-index: 1;
    margin: -10px;
    border-radius: 50%;
    // background: $color-border;
    border: 10px solid $color-border;
    box-shadow: 0px 5px 0px $color-shadow-border;
    @include media(cellphone) {
      border: 15px solid $color-border;
    }
    @include media(tablet-small) {
      border: 15px solid $color-border;
    }
    @include media(tablet) {
      border: 15px solid $color-border;
    }
    @include media(laptop) {
      border: 20px solid $color-border;
    }
  }
}

@mixin elementFight($grid-areas, $repeat) {
  width: 80%;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: $repeat;
  grid-template-areas: $grid-areas;
  @include media(cellphone) {
    width: 70%;
  }
  @include media(tablet-small) {
    width: 70%;
  }
  @include media(tablet) {
    width: 60%;
  }
  @include media(laptop) {
    width: 60%;
  }
}

@mixin triangle($width) {
  height: 10px;
  width: $width;
  position: absolute;
  background-color: var(--Dark-Text);
}

@mixin active($display) {
  @if $display == block {
    display: block;
  }
  @if $display == flex {
    display: flex;
  }
}


/*Media Queries*/
@mixin media($breakpoint) {

  @if $breakpoint == cellphone {
    @media screen and (min-width: 480px) and (max-width: 599px) {
      @content;
    }
  }
  @else if $breakpoint == tablet-small {
    @media screen and (min-width: 600px) and (max-width: 799px) {
      @content;
    }
  }
  @else if $breakpoint == tablet {
    @media screen and (min-width: 800px) and (max-width: 1023px) {
      @content;
    }
  }
  @else if $breakpoint == laptop {
    @media screen and (min-width: 1024px){
      @content;
    }
  }
}